---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

This page lists my publications in database systems, data compression, and related areas.

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <div class="publication-item">
        <p>
          <strong>{{ post.title }}</strong><br />
          {{ post.authors }}<br />
          <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}<br />
          {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% endif %}
          {% if post.codeurl %}{% if post.paperurl %} <span class="pub-link-separator">|</span> {% endif %}<a href="{{ post.codeurl }}">Code</a>{% endif %}
        </p>
      </div>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="publication-item">
      <p>
        <strong>{{ post.title }}</strong><br />
        {{ post.authors }}<br />
        <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}<br />
        {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% endif %}
        {% if post.codeurl %}{% if post.paperurl %} <span class="pub-link-separator">|</span> {% endif %}<a href="{{ post.codeurl }}">Code</a>{% endif %}
      </p>
    </div>
  {% endfor %}
{% endif %}
